#Archive_IMG {
    width: 500px;
    padding: 10px 10px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}
